@model IEnumerable<Database.Models.Game>

@{
    ViewBag.Title = "Jogos";
}

@using (Html.BeginForm("Index", "Game", FormMethod.Post))
{
    <div class="well well-sm">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                        <input type="text" name="search" class="form-control" placeholder="pesquisar" value="@ViewBag.search">
                    </div>

                </div>
            </div>
        </div>
    </div>
}

<div class="panel panel-default">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Nome do Jogo</th>
                <th>Disponível</th>
                <th>Emprestado para</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var game in Model)
            {
                <tr>
                    <td>
                        @game.Name
                    </td>
                    <td>
                        @BoolToStringComponent.BoolToString(game.Available)
                    </td>
                    <td>
                        @(game.Friend?.Name)
                    </td>
                    <td>
                        <div class="btn-group pull-right">
                            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-cog"></i>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                @if (game.Available == false)
                                {
                                    <li>
                                        <form action="/Game/Devolution" method="post">
                                            <input type="hidden" value="@game.Id" name="id" />
                                            <button type="submit" class="btn btn-link"><i class="glyphicon glyphicon-share-alt"></i> Devolver</button>

                                        </form>
                                    </li>
                                }
                                <li><a href="/Game/Delete/@game.Id"><i class="glyphicon glyphicon-trash"></i> Apagar</a></li>                              
                            </ul>
                        </div>
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <a class="btn btn-default" href="/Account/Dashboard"><i class="glyphicon glyphicon-chevron-left"></i> Voltar</a>
        <a class="btn btn-success pull-right" href="/Game/Edit "><i class="glyphicon glyphicon-file"></i> Novo</a>
    </div>
</div>

