@model Database.Models.Friend
@{
    ViewBag.Title = "Gerenciar Amigo";
}

<div class="row">
    <div class="col-lg-12">
        <form action="/Friend/Edit" method="post">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Id)
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                                @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Phone, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", data_mask_type = "cel", data_unmask = true })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="/Friend" class="btn btn-default"><i class="glyphicon glyphicon-share-alt"></i> Voltar</a>
                    <button class="btn btn-success pull-right" type="submit"><i class="glyphicon glyphicon-pencil"></i> Salvar</button>
                </div>
            </div>
        </form>
    </div>
</div>

